<div class="row">
    <div class="col-sm-9">
        <h1><%= @restaurant[:name] %></h1>
        <p><%= @restaurant[:description] %></p>
        <p><%= @restaurant[:location] %></p>
        <p>Foundation year: <%= @restaurant[:foundation] %></p>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/restaurants/<%= @restaurant[:id] %>/reservation/new" class="btn btn-primary">Book a table now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to make a reservation</a>
            <% end %>
        </p>
    </div>
    
</div>